@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
:root{
  --titulos:"Arima",cursiva;

}
*{
  margin:0; /*Resetamos los margin y padding por default del navegador*/
  padding: 0;
}

html{
  box-sizing: border-box;
}

body{
  overflow-x: hidden;
}

*, *::after, * ::before{
  box-sizing: inherit;
}

.contenedor{
  max-width: 120rem;
  margin: 0 auto;
  width:95%;
}

@media(min-width:768px){
  .contenedor-navegacion{
    position:relative;
  
  }
.contenido-navegacion{
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--blanco);
  background-color:rgba(2, 42, 40, 0.988);
  z-index: 5;
  height: 5rem;
  top: 0;
  position: fixed;
}
.logo{
  display: flex;
  justify-content: left;
  align-items: center;
 
}
.logo h1{
  color: white;
  margin-left: 1rem;
}
.logo img{
  width:15%;
  height:15%;
}
.navegacion{
  position: relative;
  width: auto;
}
.navegacion a{
  display: inline;
  color: white;
  font-size: 1.1rem;
  padding: 1rem 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.navegacion a:hover{
  background-color: rgb(7, 108, 103);
  color: rgb(242, 255, 0);
}
.icono {
  display: none;
}
/*main*/
main{
  background-color: rgb(7, 108, 103);
  height: 45rem;
  padding-bottom: 10rem;
}

section h2{
  font-family: var(--titulos);
  color: white;
  text-align: center;
  font-size: 2.5rem;
  padding-top: 6rem;
  animation:titulo-h2 5s ease-in-out;
}
@keyframes titulo-h2 {
  0%{
    transform: translateY(-30%);
    opacity: 0;
  }
  100%{
    transform:translateY(0%);
    opacity: 1;
  }
}
.comprar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comprar h3{
  font-size: 1.2rem;
  color: white;
  animation: elegir 5s ease-in-out;
}
@keyframes elegir {
  0%{
    transform: translateY(-30px);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
.material-symbols-outlined{
  color: rgb(242, 255, 0);
  font-size: 2rem;
  margin: 0 0.5rem;
  transition:color 0.3s ease-in-out;
  animation: carrito 4s ease-in-out;
}
@keyframes carrito {
  0%{
    transform: translateY(70%);
    opacity: 0;
  }
  100%{
    transform: translateY(0%);
    opacity: 1;
  }
}
.material-symbols-outlined:hover{
  color: rgb(64, 255, 0);
  font-size: 2rem;
}
.contenido-imagen-video{
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  color: white;
  position: relative;
}

ul{
 position:absolute;
 top: 15px;
 left: -10px;
 display: block;
 background-color: rgba(2, 42, 40, 0.988);
 padding: 2.3rem;
 margin: 0 1rem;
 animation: desplazamiento-ul 5s ease-in-out;
}
@keyframes desplazamiento-ul{
  0%{
    transform: translateX(-100%);
    opacity: 0;
  }
  100%{
    transform:translateX(0%);
    opacity: 1;
  }
}

ul a{
  display: block;
  font-family: var(--parrafos);
  font-size: 1.1rem;
  color: rgb(251, 252, 253);
  padding:0.5rem 3rem;
  transition: color 0.5s ease-in-out;
  padding-bottom: 0.3rem;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}
ul a:hover{
  background-color:rgb(7, 108, 103);
  color: rgb(242, 255, 0);
}
ul h3{
  text-align: center;
  margin-bottom: 0.2rem;
}
hr{
  border: 0.1 solid;
  opacity: 0.5;
  margin-bottom: 1rem;
}
img{
 width: 20%;
 height:auto;
}

}
